@import './functions';

$font-size: 14px;
$sidebar-width: 20 * $font-size;
$toc-width: 18 * $font-size;
$shadow-offset: 1.6rem;

$mobile-width: 676px;
$tablet-width: 976px;

$radius-s: 3px;
$radius-m: 6px;
$radius-l: .85rem;

$padding: 2.15rem;
$padding-mobile: 1.5rem;

$archive-anchor-height: 3rem;

$heading-1: 1.785714rem;
$heading-2: 1.428571rem;
$heading-3: 1.285714rem;
$heading-4: 1.142857rem;
$heading-5: 1rem;

$opacity-1: .8;
$opacity-2: .63;
$opacity-3: .5;

@mixin shadow($level) {
  @if $level == 1 {
    box-shadow: 0 1px 4px rgba(0, 0, 0, .15);
  } @else if $level == 2 {
    box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
  } @else if $level == 3 {
    box-shadow: 0 3px 12px rgba(0, 0, 0, .15);
  } @else if $level == 4 {
    box-shadow: 0 4px 16px rgba(0, 0, 0, .15);
  } @else {
    box-shadow: none;
  }
}
@mixin card($radius: $radius-m, $padding: $padding) {
  @if $radius != 0 {
    border-radius: $radius;
  }
  @if $padding != 0 {
    padding: $padding;
  }

  @include mobile {
    @if $radius != 0 {
      border-radius: 0;
    }
    @if $padding != 0 {
      padding: $padding-mobile;
    }
  }
}
@mixin mobile {
  @media (max-width: #{$mobile-width - 1px}) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$mobile-width}) {
    @content;
  }
}
@mixin print {
  @media print {
    @content;
  }
}
@mixin code {
  border: 1px solid;
  border-color: inherit;
  pre {
    border: 0;
  }
  code {
    background: none;
  }
}
