:host {
  position: relative;
  display: block;
  min-height: 3em;
  word-break: break-all;
  font-size: small;
  filter: blur(4px);
}
.cipher {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 40em;
  height: 100%;
  text-align: center;
}
.mask {
  filter: blur(4px);

  user-select: none;
}
.ghost {
  display: inline-block;
  white-space: nowrap;
}
.field {
  position: relative;
  display: inline-block;
  padding: 0 1em;
  min-width: 14rem;
  background: none;
  color: inherit;
  font-size: inherit;
  line-height: 2rem;
  transform: translateY(-6px);
  span {
    visibility: hidden;
  }
  input {
    position: absolute;
    left: 0;
    padding: 0;
    width: 100%;
    border: 0;
    box-shadow: 0 2px 0 0 rgba(255, 255, 255, .5), 0 2px 0 0 currentColor;
    text-align: inherit;
    font-family: inherit;
    transition: box-shadow .1s ease-in-out;
    &::placeholder {
      color: inherit;
      transition: color .1s ease-in-out;
    }
    &:focus {
      outline: none;
      box-shadow: 0 2px 0 0 currentColor;
      color: inherit;
      &::placeholder {
        color: transparent;
      }
    }
  }
}
