$item-size: 24px;

:host {
  display: block;
  margin: 1em auto;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 1;
  margin: auto;
}

a {
  margin: 1px;
  width: $item-size;
  height: $item-size;
  border-radius: $item-size;
  background-size: 60px !important;
  font-size: $item-size;
  box-sizing: border-box;
  cursor: pointer;
  border: 1px solid transparent;
  transition: transform .15s;

  &:hover {
    transform: scale(1.1);
  }
  &:hover {
    border-color: inherit;
  }
  &.is-lg {
    width: calc(3rem + 2px);
  }
}
